*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.S
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!*.hh
!*.hpp
!*.py
!*.sh
!*filelist.f
!.gitignore
!.scalafmt.conf
!README.md
build/
.github/

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
.metals/
.bloop/

# ysyx
build-*/
!*.nxdc
logs/
ccout/
formal/**/*.sv
!*.md
*_bmc/
formal/*/
local/
